@import 'antd/lib/style/themes/default.less';
// ant-design default overrides
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// colours
@primary-color: #057623;
@text-color-secondary: #6d7175;

@success-color: #389e0d;

@error-color: #d72c0d;

@body-background: #f7f8fa;
@layout-footer-background: #003318;
@text-color-dark: #ffffff;
@text-color-secondary-dark: #ffffff;

@disabled-color: fade(#000, 60%);

@divider-color: rgba(0, 0, 0, 15%);

@info-color: #1890ff;

// button
@btn-font-weight: 500;

// height rules
@height-base: 38px;
@height-sm: 32px;

// borders
@border-radius-base: 3px;

@menu-background: #051e34;
// layout
@layout-body-background: #ffffff;
@layout-header-background: #f7f8fa;
@layout-sider-background: @menu-background;
@menu-dark-bg: @menu-background;
@menu-dark-inline-submenu-bg: @menu-background;
@menu-highlight-color: @primary-color;

// card
@card-padding-base: 25px;

// table
@table-selected-row-bg: fade(@primary-color, 10%);
@table-expanded-row-bg: #ffffff;

// expand panel
@collapse-panel-border-radius: 8px;
