@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poiret+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-body-bg: #222;
  --color-primary-bg: #bbcdff;
  --color-text: #fff;
  --color-primary: #335eea;
  --color-secondary-bg: #323232;
  --color-secondary-bg-for-transparent: hsla(0,0%,100%,0.08);
  --color-primary-bg-for-transparent: hsla(0,0%,100%,0.12);
  --color-navbar-bg: rgba(34,34,34,0.86);
  --color-player-slider: hsla(0,0%,50.2%,.18);
}

.style__buttons {
  @apply p-2 flex justify-center items-center bg-transparent transition-all duration-200
}